---
import 'artalk/dist/Artalk.css'
---

<div id="artalk"></div>
<script>
import Artalk from "artalk";

Artalk.init({
    el: "#artalk",
    pageKey:   `${location.pathname}`,
    pageTitle: `${document.title}`,
    server: "https://artalk.6leo6.com",
    site: "Leo's Blog",
    darkMode: "auto"
})
</script>